<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Code Reuse in ASP.NET Views - Examples</title>
    @Styles.Render("~/Content/css")
</head>
    <body>
        <div class="row">
            <div class="col-md-3 text-right">
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("HTML Helper examples", "HtmlHelper", "Home")</li>
                        <li>@Html.ActionLink("Display Templates examples", "DisplayTemplates", "Home")</li>
                        <li>@Html.ActionLink("Editor Templates examples", "EditorTemplates", "Home")</li>
                        <li>@Html.ActionLink("Razor Helpers examples", "RazorHelpers", "Home")</li>
                        <li>@Html.ActionLink("Partial Views examples", "PartialViews", "Home")</li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
