<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("HTML Helper examples", "Index", "HtmlHelper")</li>
    <li>@Html.ActionLink("Display Templates examples", "DisplayTemplates", "DisplayEditorTemplates")</li>
    <li>@Html.ActionLink("Editor Templates examples", "EditorTemplates", "DisplayEditorTemplates")</li>
    <li>@Html.ActionLink("Razor Helpers examples", "Index", "RazorHelpers")</li>
    <li>@Html.ActionLink("Partial Views example", "Index", "PartialViews")</li>
    <li>@Html.ActionLink("Child Action example", "Index", "ChildAction")</li>
    <li>@Html.ActionLink("Different layout example", "Index", "Layouts")</li>
    <li>@Html.ActionLink("Nested layout example", "Nested", "Layouts")</li>
</ul>